body
{
    margin: 0;
    /* background-color: black; */
}

#main
{
    text-align: center;
    font-size: 1.5rem;
    display: grid;
    border: 0.4rem solid black;
    border-radius: 0.9rem;
    width: 22rem;
    margin-top: 15rem;
    justify-content: center;
    justify-self: center;
    grid-template-columns: repeat(4, 5rem);
    grid-auto-rows: 5rem;
    background-color: red;

}

.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenContainer
{
    text-align: left;
    grid-column: 1/5;
    border: 0.20rem solid black;
    width: 20rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    background-color: beige;
}

.operation-key
{
    font-size: 2.25rem;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
    margin: 0.1rem;
    background-color: green;
}

#clear-button
{
    margin-right: 0.3rem;
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    background-color: aquamarine;
}

#delete-button
{
    margin-right: 0.3rem;
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    background-color: rebeccapurple;
}

.number
{
    margin: 0.1rem;
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    background-color: darkgoldenrod;
}

#zero
{
    margin: 0.2rem;
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    display: inline-block;
    vertical-align: middle;
    grid-column: 1/3;
    background-color: blue;
}

#period
{
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: white;
}

#equal-button
{
    margin: 0.2rem;
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    grid-row: 5/7;
    grid-column: 4/5;
    background-color: yellow;
}
/* .row-one
{
    background-color: aqua;
}

.row-two
{
    background-color: bisque;
} */

/* .calculator-grid
{
    display: grid;
    justify-content: center;
    margin-top: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(5, 2rem);
} */

